<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create New Product</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>
<body style="background-color:#99ccff;">
	<div align="center">
		<h1 style="font-family: 'JetBrains Mono', monospace;">Create New Product</h1>
		<br>
		<form action="#" th:action="@{/save}" th:object="${product}"
			method="post">
			<table border="2" cellpadding="10" style="font-family: 'JetBrains Mono', monospace;" >
				<tr style="background-color:#ffff99;">
					<td>Product Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr style="background-color:#ffff99;">
					<td>Brand:</td>
					<td><input type="text" th:field="*{brand}" /></td>
				</tr>
				<tr style="background-color:#ffff99;">
					<td>Made In:</td>
					<td><input type="text" th:field="*{madein}" /></td>
				</tr>
				<tr style="background-color:#ffff99;">
					<td>Price:</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>	
				<tr style="background-color:#ffff99;">
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>							
			</table>
		</form>
	</div>
</body>
</html>